<div class="responses-wrapper">
    <div class="responses-wrapper-header">
        <h6>Responses</h6>
    </div>
    <div class="responses-inner">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">Links</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">200</th>
                    <td>

                        <pre>sucesso</pre>
                        
                        <p>Example Value</p>

        <pre>{
            "result": [{
                "Wscategoria": {
                    "id": 0,
                    "parerent_id": 0,
                    "ativo": 0,
                    "nome": "string",
                    "descricao": "string",
                    "slug": "string",
                    "tag_h1": "string",
                    "meta_title": "string",
                    "meta_keywords": "string",
                    "meta_description": "string",
                    "classes_adicionais": "string"
                }
            }]
        }</pre>


                    </td>
                    <td>No links</td>
                </tr>
                <tr>
                    <th scope="row">400</th>
                    <td><pre>falha</pre></td>
                    <td>No links</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>