<div class="request-wrapper">
    <div class="request-wrapper-header">
        <h6>Request body <span class="badge badge-warning">required</span></h6>
    </div>
    <div class="request-inner">
        
        <p>Example Value</p>
        
<pre>{
  "Wsproduto": {
    "id": 0,
    "tipo_cadastro": 0,
    "situacao": 0,
    "nome": "string",
    "nome_meli": "string",
    "descricao": "string",
    "marca_id": 0,
    "unidade_medida_id": 0,
    "disponivel": 0,
    "vitrine": 0,
    "promo": 0,
    "lancamento": 0,
    "lancamento_data_fim": "string",
    "frete_gratis": 0,
    "cotacao": 0,
    "loja_fisica": 0,
    "origem_mercadoria": 0,
    "tempo_producao": 0,
    "ncm": "string",
    "ean": "string",
    "video": "string",
    "slug": "string",
    "tag_h1": "string",
    "meta_title": "string",
    "meta_keywords": "string",
    "meta_description": "string",
    "sku": "string",
    "sku_fornecedor": "string",
    "avaliacoes": 0,
    "isbn": "string",
    "quantidade_venda": 0
  },
  "WsprodutoImagem": {
    "id": 0,
    "produto_id": 0,
    "principal": 0,
    "ordem": 0,
    "migracao_id": "string",
    "imagem": "string"
  },
  "WsprodutoEstoque": {
    "id": 0,
    "produto_id": 0,
    "sku": "string",
    "sku_fornecedor": "string",
    "quantidade": 0,
    "valor_compra": 0,
    "valor_venda": 0,
    "promocao": 0,
    "percentual_promocao": 0,
    "valor_promocao": 0,
    "promocao_data_inicio": "string",
    "promocao_data_fim": "string",
    "compra_minima": 0,
    "compra_maxima": 0,
    "estoque_minimo": 0,
    "altura": 0,
    "largura": 0,
    "comprimento": 0,
    "peso_liquido": 0,
    "combinacao1_id": 0,
    "combinacao_atributo1_id": 0,
    "combinacao2_id": 0,
    "combinacao_atributo2_id": 0,
    "combinacao3_id": 0,
    "combinacao_atributo3_id": 0,
    "quantidade_venda": 0,
    "valor_frete": 0,
    "valor_frete_adicional": 0
  },
  "WsprodutoCategoria": {
    "categoria_id": 0,
    "principal": 0,
    "produto_id": 0
  }
}</pre>

    </div>
</div>

<div class="responses-wrapper">
    <div class="responses-wrapper-header">
        <h6>Responses</h6>
    </div>
    <div class="responses-inner">


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">Links</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">200</th>
                    <td>

                        <pre>sucesso</pre>
                        
                        <p>Example Value</p>

<pre>{
  "result": {
    "Wsproduto": {
      "id": 0,
      "tipo_cadastro": 0,
      "situacao": 0,
      "nome": "string",
      "nome_meli": "string",
      "descricao": "string",
      "marca_id": 0,
      "unidade_medida_id": 0,
      "disponivel": 0,
      "vitrine": 0,
      "promo": 0,
      "lancamento": 0,
      "lancamento_data_fim": "string",
      "frete_gratis": 0,
      "cotacao": 0,
      "loja_fisica": 0,
      "origem_mercadoria": 0,
      "tempo_producao": 0,
      "ncm": "string",
      "ean": "string",
      "video": "string",
      "slug": "string",
      "tag_h1": "string",
      "meta_title": "string",
      "meta_keywords": "string",
      "meta_description": "string",
      "sku": "string",
      "sku_fornecedor": "string",
      "avaliacoes": 0,
      "isbn": "string",
      "quantidade_venda": 0
    },
    "WsprodutoImagem": [
      {
        "id": 0,
        "produto_id": 0,
        "principal": 0,
        "ordem": 0,
        "migracao_id": "string",
        "imagem": "string"
      }
    ],
    "WsprodutoEstoque": [
      {
        "id": 0,
        "produto_id": 0,
        "sku": "string",
        "sku_fornecedor": "string",
        "quantidade": 0,
        "valor_compra": 0,
        "valor_venda": 0,
        "promocao": 0,
        "percentual_promocao": 0,
        "valor_promocao": 0,
        "promocao_data_inicio": "string",
        "promocao_data_fim": "string",
        "compra_minima": 0,
        "compra_maxima": 0,
        "estoque_minimo": 0,
        "altura": 0,
        "largura": 0,
        "comprimento": 0,
        "peso_liquido": 0,
        "combinacao1_id": 0,
        "combinacao_atributo1_id": 0,
        "combinacao2_id": 0,
        "combinacao_atributo2_id": 0,
        "combinacao3_id": 0,
        "combinacao_atributo3_id": 0,
        "quantidade_venda": 0,
        "valor_frete": 0,
        "valor_frete_adicional": 0
      }
    ],
    "WsprodutoCategoria": [
      {
        "categoria_id": 0,
        "principal": 0,
        "produto_id": 0
      }
    ]
  }
}</pre>

                    </td>
                    <td>No links</td>
                </tr>
                <tr>
                    <th scope="row">400</th>
                    <td><pre>falha</pre></td>
                    <td>No links</td>
                </tr>
            </tbody>
        </table>
                  
    </div>
</div>
 
 
 