<h1>AptecWeb API</h1>
<p>Esta é a API da plataforma AptecWeb. A seguinte URL deve ser utilizada para consultar a API.<br />
<code>https://&lt;endereco_loja&gt;/ws</code></p>
<p>Para cada consulta, deve-se inserir a extensão .json no final da URL. Veja abaixo alguns exemplos:</p>
<p>Consulta todos os produtos:<br />
<code>https://&lt;endereco_loja&gt;/ws/wsprodutos.json</code><br /></p>

<p>Consulta produto específico:<br />
<code>https://&lt;endereco_loja&gt;/ws/wsprodutos/&lt;id_produto&gt;.json</code></p>

<p>Todas as requisições devem possuir o parametro <em>appKey</em> no cabeçalho da requisição. O <em>appKey</em> pode ser obtido no próprio painel da loja, clicando no nome do usuário no canto superior direito.</p>
