<div class="parameters-wrapper">
    <div class="parameters-wrapper-header">
        <h6>Parameters</h6>
    </div>
    <div class="parameters-inner">
        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">id (integer) <span class="badge badge-warning">required</span></th>
                    <td>ID da unidade de medida a ser editada</td>                    
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div class="request-wrapper">
    <div class="request-wrapper-header">
        <h6>Request body <span class="badge badge-warning">required</span></h6>
    </div>
    <div class="request-inner">
        
        <p>Example Value</p>
        
<pre>{
  "id": 0,
  "nome": "string",
  "medida": "string",
  "paridade": 0,
  "medida_decimal": "string",
  "multiplicador": 0,
  "quantidade_minima": 0
}</pre>

    </div>
</div>

<div class="responses-wrapper">
    <div class="responses-wrapper-header">
        <h6>Responses</h6>
    </div>
    <div class="responses-inner">


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">Links</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">200</th>
                    <td>

                        <pre>sucesso</pre>
                        
                        <p>Example Value</p>

<pre>{
  "result": {
    "Wsunidade": {
      "id": 0,
      "nome": "string",
      "medida": "string",
      "paridade": 0,
      "medida_decimal": "string",
      "multiplicador": 0,
      "quantidade_minima": 0
    }
  }
}</pre>

                    </td>
                    <td>No links</td>
                </tr>
                <tr>
                    <th scope="row">400</th>
                    <td><pre>falha</pre></td>
                    <td>No links</td>
                </tr>
            </tbody>
        </table>
                  
    </div>
</div>
 
 
 